/** HW_Wireframe Homework New **/

body{
    margin: auto;
    box-sizing: border-box;
    text-align: center;
    font-size: 18px;
    line-height: 32px;
    align: center;
    background-color: #777;
    color: #ebebeb;
    width: 960px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;

}

header {
    /* color: #333; */
    background: white;
    margin-bottom: 10px;
    padding: 30px;
    /* font-size: 18px; */
    /* align: center; */
}

nav {
    align-content: center;
    /* color: #333; */
    background: white;
    margin-bottom: 10px;
    padding: 30px;
    /* font-size: 18px; */
}

section{
    /* float: left; */
    padding: 20px;
    margin-bottom: 20px;
    /* color: #333; */
    background-color: white;
    /* float: clear; */
    width: 495px;
    height: 250px;
    /* font-size: 18px; */
    /* overflow: auto; */
}

article{
        /* float: inherit; */
        width: 200;
        height: 150px;
        padding: 20px;
        /* font-size: 18px; */
        margin-right: 30px;
        background-color: #777;
        color: white;
        /* clear: both; */
    }

#h1,h2,h3{
    /* float: left; */
    height: 25px;
    margin: 5px;
    padding: 5px;
    /* color: #333; */
    /* font-size: 18px; */
    background-color: white;
}

/* .clear { 
    clear: left;
} */

#p{
    /* float: left; */
    height: 25px;
    margin: 5px;
    padding: 5px;
    /* color: #333; */
    /* font-size: 18px; */
    background-color: white;
}

/* .clear {
    clear: left;
} */
    
aside{
    padding: 20px;
    margin-bottom: 20px;
    /* color: #333; */
    background-color: white;
    /* float: left; */
    width: 300px;
    height: 250px;
    font-size: 18px;
}

 footer {
    padding: 20px;
    clear: both;
    background-color: white;
    /* font-size: 18px; */
}

#right {
    float: right;
    width: 495px;
    /* color: #777; */
    background: white;
}

/* #left{ 
    float: left;
    width: 55%;
    color: #fff;
    background: #666;
}

#middle {
    float: left;
    width: 55%;
    color: #fff;
    background: #888;
}

#full{
    width: 100%;
    overflow: auto;
    clear: both;
    background: #eee;
}

#division{
    padding: 20px;
    margin-top: 20px;
    background: #6ea3da;
}*/


