/** HW_Wireframe Homework New **/

body
{
    margin: auto;
    box-sizing: border-box;
    text-align: center;
    font-size: 18px;
    line-height: 32px;
    align: center;
    background-color: #777;
    color: #ebebeb;
    width: 960px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

header 
{
    background: white;
    margin-bottom: 10px;
    padding: 30px;
}

nav
{
    align-content: center;
    background: white;
    margin-bottom: 10px;
    padding: 30px;
}

section
{
    float: left;
    padding: 20px;
    background-color: white;
    width: 495px;
    height: 250px;
}

article
{
    height: 169px;
    padding: 20px;
    margin-top: 18px;
    background-color: #777;
    color: white;
}

h1
{
    margin: 5px;
    padding: 15px;
    color: #ebebeb;
    background-color: white;
}

p
{
    margin: 10px 5px 5px 5px;
    padding: 15px;
    color: #ebebeb;
    background-color: white;
}
    
aside
{
    padding: 20px;
    margin-bottom: 10px;
    margin-left: 10px;
    background-color: white;
    float: left;
    width: 375px;
    height: 250px;
    font-size: 18px;
}

 footer
 {
    padding: 20px;
    clear: both;
    background-color: white;
 }

